body {
    margin: 0 0;
    font-family: serif;
}

/* Title */

#wave-container {
    position: relative;
    font-family: sans-serif;
    text-align: center;
    color: black;
}

h1 {
    top: 20px;
    color: #FFF;
    width: 100%;
    z-index: 1;
    position: absolute;
}

/* Text  */

section {
    width: 70%;
    margin: 0 auto;
}

h2 {
    letter-spacing: 2px;
    color: teal;
}

#section-two {
    text-align: right;
}

/* Footer  */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
}